<div class="bg-white p-2 mb-2 rounded shadow">
  <h4 class="fs-3">ngContent - ng-content select=".card-title"</h4>
  <div class="row m-0">
    <app-section class="col-4">
      <h5 class="card-title">Sample Title</h5>
      <button class="btn btn-danger">Read More</button>
    </app-section>
    <app-section class="col-4">
      <h5 class="card-title">Lorem Tile 2</h5>
      <button class="btn btn-success">Signup</button>
    </app-section>
    <app-section class="col-4">
      <h5 class="card-title">My New Title Appears Here</h5>
      <button class="btn btn-warning">Apply Demo</button>
    </app-section>    
  </div>
</div>