<h3 class="text-danger">My Name is Vishnu</h3>
<div class="bg-info p-2">
  Dependency Injection: providers: [AlertService]<br>
  constructor(private getAlertService:AlertService) <br>
  this.getAlertService.OnAlertClicked(this.myname);
</div>
<button (click)="AlertInjectClicked()">Alert Myname-service.ts by Injection</button>
<textarea class="w-100 p-2">
@Component({providers: [AlertService] })
constructor(private getAlertService:AlertService){  }
AlertInjectClicked(){
  this.getAlertService.OnAlertClicked(this.myname+'--Injected');
}
</textarea>
