
<div class="bg-white mt-4">
  <app-newheader></app-newheader>
  <div class="text-center bg-warning fs-3 p-4 border rounded shadow m-3">
    <router-outlet></router-outlet>
  <br>
  ActivatedRoute <br>
private route: ActivatedRoute<br>
this.route. <b><u>queryParams</u></b> .subscribe function urldata => urldata['user']<br>
this.route.<b><u>Params</u></b>.subscribe function urldata => urldata['id']<<br>
params => this.user = params['user'];<br>
    
  </div>
  <app-footer></app-footer>        
</div>