<div class="bg-white shadow rounded mb-2 p-3 alert">
  <h4 class="fs-3">Popular UI themes</h4>
  <ul>
    <li><strong>MaterialPro Angular</strong> - WrapPixel</li>
    <li><strong>NGX-admin</strong> - Akveo</li>
    <li><strong>Able Pro</strong> - Phoenixcoded</li>
    <li><strong>Fuse</strong> - Angular Material Design</li>
    <li><strong>Xtreme Angular Admin</strong> - WrapPixel</li>
    <li><strong>ArchitectUI Angular</strong> - Flatlogic</li>
    <li><strong>Elite Angular</strong> - TrendyTheme</li>
    <li><strong>StarAdmin Angular</strong> - BootstrapDash</li>
    <li><strong>Monster Angular</strong> - WrapPixel</li>
    <li><strong>Apex Angular</strong> - ThemeSelection</li>
  </ul>
</div>

<div class="bg-white shadow rounded mb-2 p-3 alert">
  <h4 class="fs-3">Component Library Websites</h4>
  <ul>
    <li>
      <h3>Angular Material</h3>: <br>
      <a href="https://material.angular.io/" target="_blank"><img width="150" src="https://material.angular.io/assets/img/material-logo.svg" alt="Angular Material Logo"> material.angular.io</a> - Official component library for Angular following Material Design guidelines.
    </li>
    <li>
      <h3>PrimeNG</h3>: <br>
      <a href="https://www.primefaces.org/primeng/" target="_blank"><img width="150" src="https://primefaces.org/cdn/primeng/images/primeng-logo-dark.svg" alt="PrimeNG Logo"> primefaces.org/primeng</a> - Open-source component library for Angular with a wide range of UI components.
    </li>
    <li>
      <h3>NG-ZORRO</h3>: <br>
      <a href="https://ng.ant.design/" target="_blank"><img width="150" src="https://ng.ant.design/assets/img/zorro.svg" alt="NG-ZORRO Logo"> ng.ant.design</a> - Ant Design-based component library for Angular providing rich UI components and integration with Angular.
    </li>
    <li>
      <h3>Clarity UI</h3>: <br>
      <a href="https://clarity.design/" target="_blank"><img width="150" src="https://clarity.design/assets/images/clarity-logo.svg" alt="Clarity UI Logo"> clarity.design</a> - UX-focused component library for Angular with a clean and modern design.
    </li>
    <li>
      <h3>NG Bootstrap</h3>: <br>
      <a href="https://ng-bootstrap.github.io/" target="_blank"><img width="150" src="https://ng-bootstrap.github.io/img/logo.svg" alt="NG Bootstrap Logo"> ng-bootstrap.github.io</a> - Bootstrap-based component library for Angular with native Angular directives.
    </li>
    <li>
      <h3>Onsen UI</h3>: <br>
      <a href="https://onsen.io/" target="_blank"><img width="150" src="https://onsen.io/icons/onsen-ui.png" alt="Onsen UI Logo"> onsen.io</a> - Hybrid mobile app framework with a set of customizable and responsive UI components for Angular.
    </li>
    <li>
      <h3>Material UI</h3>: <br>
      <a href="https://material-ui.com/" target="_blank"><img width="150" src="https://material-ui.com/static/logo.png" alt="Material UI Logo"> material-ui.com</a> - React component library inspired by Material Design, which can also be used in Angular applications using the Angular CDK.
    </li>
  </ul>
</div>
<br>