<table class="table table-striped border table-hover"><tbody>
  <tr *ngFor="let user of users">
    <td>{{user.name}}</td>
    <td>{{user.id}}</td>
    <td><button (click)="showDetails(user)">Show *subscribe</button></td>
    <td><button (click)="showDetaisReference(user)">Show #Refernce</button></td>
    <td><button (click)="sendMessage('XXX')" title="Pass Message Service Pending">Message*</button></td>
  </tr>
</tbody></table>
Pass message to Toastr is not working. i used message.service.ts with subject and subscribe.
